{% extends 'base.html' %}

{% block content %}
<h2>All Posts</h2>

<div class="row">
  {% for post in posts %}
  <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
            <div class="d-flex align-items-center mb-2">
              <img src="{{ post.user.profile.image.url }}" class="rounded-circle me-2" width="40" height="40">
              <strong>{{ post.user.username }}</strong>
            </div>
            <h5 class="card-title">{{ post.title }}</h5>
            <img src="{{ post.image.url }}" class="img-fluid mb-2">
            <p class="card-text">{{ post.content|truncatewords:15 }}</p>
            <a href="{% url 'post_detail' post.id %}" class="btn btn-primary btn-sm">View</a>
        </div>
      </div>
  </div>
  {% endfor %}
</div>
{% endblock %}